#books {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    ::v-deep .el-overlay {
        position: absolute;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    ::v-deep .el-overlay-dialog {
        position: absolute;
    }

    ::v-deep .el-message {
        position: absolute;
    }

    .books-txt {
        display: flex;

        .txt {
            cursor: pointer;
            margin-right: 10px;

            &:hover {
                color: #389cff;
            }
        }
    }

    .hover-icon:hover {
        color: #389cff;
        cursor: pointer;
    }

    .center {
        width: 100%;
        padding: 0 3px;

        .title {
            width: 100%;
            border-radius: 16px;
            border: 1px solid #cacaca;
            padding: 6px 0;
            cursor: pointer;

            &:hover {
                color: #fff;
                font-weight: 600;
                background-color: #389cffde;
            }
        }
    }

    .main {
        margin: 10px 1px 10px 10px;
        overflow-y: auto;

        div {
            padding: 10px;
            text-align: left;
        }
    }

    .lock {
        bottom: 8px;
        font-size: 12px;
        color: rgb(100, 100, 100);
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        .lock-left,
        .lock-right {
            cursor: pointer;

            &:hover {
                color: #389cff;
            }
        }
    }
}