body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

#app::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* 设置宽度为视口宽度 */
    width: 100vw;
    /* 设置高度为视口高度 */
    height: 100vh;
    background: url("@/assets/imgs/wallhaven-壁纸.webp");
    z-index: -1;
    background-size: cover;
}