body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

#app::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* 设置宽度为视口宽度 */
    width: 100vw;
    /* 设置高度为视口高度 */
    height: 100vh;
    // background: url("@/assets/imgs/白.jpg");
    background: #fff;
    color: #000;
    z-index: -1;
    // background-size: cover;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(194, 194, 194, 0.2);
    background: #888888;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(170, 170, 170, 0.2);
    border-radius: 8px;
    background: #ededed;
}